<%= form_with(model: roll, local: true) do |form| %>
  <% if roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roll.errors.count, "error") %> prohibited this roll from being saved:</h2>

      <ul>
      <% roll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :result %>
    <%= form.number_field :result, id: :roll_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
