<!DOCTYPE html>
<html>
  <head>
    <title>LuckyDiceRoll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
  <% if authenticated? %>
      <%= link_to 'Logout', session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

    <%= yield %>
  </body>
</html>
